<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:3010/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
    <!-- <httpRedirect enabled="false" destination="" exactDestination="false" childOnly="false" />-->
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\truefriendmatrimony.com\tmp" />
  </system.web>
</configuration>